
.project {
  position: relative;

  background-color: rgb(220, 216, 192);
  border-radius: 5px;
  padding: 10px 10px;

  aspect-ratio: 1 / 1; 

  /* white-space: normal; */

  overflow: hidden;

  transition:
    transform 0.15s,
    background-color 0.15s;

  cursor: pointer;
}
.project h2 {
  text-overflow: ellipsis;
  overflow: hidden;
}
.project:hover {
  transform: scale(1.03);
  background-color: rgb(197, 193, 169);
}
.project:active {
  transform: scale(1.02);
  background-color: rgb(184, 180, 157);
}

.project-vignette {
  position: absolute;

  left: 0px;
  right: 0px;
  bottom: 0px;

  height: 40%;

  background-image: linear-gradient(to top, rgba(220, 216, 192, 0.9), rgba(0, 0, 0, 0));
}

.project-date {
  position: absolute;
  bottom: 5%;
  right: 5%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;

  background-color: rgb(69, 65, 56);
  color: rgb(220, 216, 192);

  border-radius: 5px;


}