
.project-info {
  position: sticky;
  z-index: 9;
  top: 120px;
  right: 20px;

  width: 45%;
  min-height: 200px;
  margin-top: 20px;
  padding: 15px 15px;

  overflow: hidden;

  background-color: rgb(220, 216        , 192);
  border-radius: 5px;

  float: right;

  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0 , 0.2);
}
.project-info h1, .project-info h2, .project-info p {
  text-overflow: ellipsis;
  overflow: hidden;
}
.project-info ul {
  text-overflow: ellipsis;
  overflow: hidden;
}
.project-info-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.project-info-placeholder h2 {
  font-weight: 400;
  color: rgb(116, 110, 99);
}
.project-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}