.project-grid {
  display: grid;

  margin-top: 20px;

  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;

  width: 50%;
}

@media (max-width: 850px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 851px) and (max-width: 1399px) {
  .project-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  .project-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

