.page-container {
  position: absolute;
  width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* source: https://metakirby5.github.io/yorha/? */
  background-color: #d1cdb7;
  -webkit-background-size: 0.3rem 0.3rem;
  -moz-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
  background-image: -webkit-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -webkit-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
}

.content-container {
  /* display: flex;
  flex-direction: column;
  align-items: start; */

  box-sizing:border-box;
  /* min-height: 100%; */
  padding-top: 150px;
  padding-left: 20px;
  padding-bottom: 20px;
  
}

.project-info {
  position: sticky;
  z-index: 9;
  top: 120px;
  right: 20px;

  width: 45%;
  min-height: 200px;
  margin-top: 20px;
  padding: 15px 15px;

  overflow: hidden;

  background-color: rgb(220, 216        , 192);
  border-radius: 5px;

  float: right;

  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0 , 0.2);
}
.project-info h1, .project-info h2, .project-info p {
  text-overflow: ellipsis;
  overflow: hidden;
}
.project-info ul {
  text-overflow: ellipsis;
  overflow: hidden;
}
.project-info-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.project-info-placeholder h2 {
  font-weight: 400;
  color: rgb(116, 110, 99);
}
.project-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-grid {
  display: grid;

  margin-top: 20px;

  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;

  width: 50%;
}

@media (max-width: 850px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 851px) and (max-width: 1399px) {
  .project-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  .project-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.project {
  position: relative;

  background-color: rgb(220, 216, 192);
  border-radius: 5px;
  padding: 10px 10px;

  aspect-ratio: 1 / 1; 

  /* white-space: normal; */

  overflow: hidden;

  transition:
    transform 0.15s,
    background-color 0.15s;

  cursor: pointer;
}
.project h2 {
  text-overflow: ellipsis;
  overflow: hidden;
}
.project:hover {
  transform: scale(1.03);
  background-color: rgb(197, 193, 169);
}
.project:active {
  transform: scale(1.02);
  background-color: rgb(184, 180, 157);
}

.project-vignette {
  position: absolute;

  left: 0px;
  right: 0px;
  bottom: 0px;

  height: 40%;

  background-image: linear-gradient(to top, rgba(220, 216, 192, 0.9), rgba(0, 0, 0, 0));
}

.project-date {
  position: absolute;
  bottom: 5%;
  right: 5%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;

  background-color: rgb(69, 65, 56);
  color: rgb(220, 216, 192);

  border-radius: 5px;


}