.header {
  position: fixed;
  z-index: 10;
  top: 20px;
  left: 20px;
  right: 20px;
  
  height: 90px;
  min-width: 900px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* background-color: rgba(218, 218, 218, 0.6); */
  background-color: rgba(220, 216, 192, 0.75);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0 , 0.2);

  border-radius: 5px;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-left: 10px;
  padding-right: 10px;
  width: 200px;

}
.header-logo {
  color: rgb(69, 65, 56);
  font-size: 32px;
  font-weight: 780;
  text-decoration: none;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-right: 30px;
}

.header-right-container-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100%;

  margin-right: 30px;
  /* background-color: lightblue; */
}

.header-right-link-container, .header-right-link-container-selected {
  height: 84px;

  display: flex;
  align-items: center;
}

.header-right-link-container-selected {
  color: rgb(39, 39, 39);
  font-weight: 600;

  border-style: solid;
  border-color: rgb(255, 255, 255, 0);
  border-bottom-color: rgb(69, 65, 56);
  
  /* border-top: 5px; */
  border-left: none;
  border-right: none;
  border-width: 3px;
}

.header-right-nav-link {
  padding: 10px 20px;
  margin-left: 5px;
  margin-right: 5px;

  cursor: pointer;

  /* background-color: white; */
}

.header-right-container-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 70px;

  margin-right: 30px;
  padding-left: 20px;
  padding-right: 20px;

  /* background-color: lightcoral; */
}

.header-icon {
  width: 25px;
  height: 25px;
}

.menu-button {
  width: 40px;
  height: 40px;

  border-radius: 20px;
  border-style: none;

  background-color: rgba(220, 216, 192, 0);

  cursor: pointer;
}
