.menu-button {
  width: 40px;
  height: 40px;

  border-radius: 20px;
  border-style: none;

  background-color: rgba(220, 216, 192, 0);

  cursor: pointer;
}

.sidebar {
  position: fixed;
  z-index: -20;
  top: 20px;
  right: 20px;
  bottom: 20px;

  min-width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: top;

  overflow-y: scroll;

  padding-right: 30px;
  padding-left: 30px;

  /* background-color: rgba(218, 218, 218, 0.6); */
  background-color: rgb(220, 216, 192);
  box-shadow: 0px 0px 10px rgba(0, 0, 0 , 0.2);

  border-radius: 5px;
}

/* update sidebar like this in react using state */
/* .tracking-page .current-status {
  color: rgb(25, 135, 84);
} */

/* or something like this
.test1, .test2 {
  animation: fade-in 1.5s forwards;
}

@keyframes fade-in {
 from { opacity: 0; }
 to { opacity: 1; }
} */


.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 90px;

}

.sidebar-link {
  margin-bottom: 10px;
}

.overlay {
  position: fixed;

  z-index: -15;

  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
}