.projects-link {
  font-size: 20px;
  text-decoration: none;

  color: rgb(220, 216, 192);
  background-color: rgb(69, 65, 56);

  padding: 10px 20px;
  margin-bottom: 20px;

  border-radius: 5px;
}

.project-grid-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
  width: 60%;
  /* max-width: 50%; */

  margin-top: 30px;
  margin-bottom: 30px;
}